{% extends 'base.html.twig' %}

{% block title %}
    Horses View
{% endblock %}

{% block body %}
    {% include 'partial/nav.html.twig' %}

    <div class="container">
        <div class="clearfix"></div>
        <div class="">
            <h1>Horses Data</h1>
            <div class="">
            
<h2>                horse table</h2>
                <table class="display" width="100%" cellspacing="0" border="1">
                    <tbody>
                    {% for temp_array in temp_arrays %}
                        <tr>
                            <td>{{ temp_array }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
<h2>                race table</h2>

                <table class="display" width="100%" cellspacing="0" border="1">
                    <tbody>
                    {% for race in race_ids %}
                        <tr>
                            <td>{{ race }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

<h2>                combine table</h2>
                <table class="display" width="100%" cellspacing="0" border="1">
                    <tbody>
                    {% for combine in combines %}
                        <tr>
                            <td>{{ combine }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

    </script>
{% endblock %}

