{% extends 'base.html.twig' %}

{% block title %}
    Horses View
{% endblock %}

{% block body %}
    {% include 'partial/nav.html.twig' %}

    <div class="container">
        <div class="clearfix"></div>
        <div class="">
            <h1>Horses Data</h1>
            <div class="">
                <table class="display" width="100%" cellspacing="0" border="1">
                    <tbody>
                    {% for horse in horses %}
                        <tr>
                            <td>{{ horse }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <table class="display" width="100%" cellspacing="0" border="1">
                    <tbody>
                    {% for race in races %}
                        <tr>
                            <td>{{ race }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <table class="display" width="100%" cellspacing="0" border="1">
                    <tbody>
                    {% for combine in combines %}
                        <tr>
                            <td>{{ combine }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

    </script>
{% endblock %}

