{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partial/nav_parser.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Scrapping for `results` table</h1>
                <form method="post" id="scrapper-form">
                    <div class="form-group">
                        <label for="date">Select date</label>
                        <input type="text" name="date" class="form-control" id="date" placeholder="Select date" required>
                    </div>
                    <button type="submit" class="btn btn-primary" id="scrape" disabled>Scrape</button>
                </form>

                <div class="alert alert-danger" role="alert" id="scraper-warning" style="margin-top: 20px">
                    <p>
                        Due to pthreads developer's controversial decision <a href="https://serverfault.com/questions/748001/the-apache2handler-sapi-is-not-supported-by-pthreads" alt="source">(source)</a>,
                        which results in complete abandoning pthreads support for Apache2handler SAPI,
                        scraper in current version cannot be launched from UI/UX.
                    </p>
                    <p>
                        Please run scraper from command line:
                    </p>
                    <p>
                        <code>
                            $ cd __PROJECT_DIR__ && php bin/console run:results {date}
                        </code>
                    </p>
                    <p>Example:</p>
                    <p>
                        <code>
                            $ cd . && php bin\console run:results 2021-03-03
                        </code>
                    </p>
                </div>

                <div class="row" style="margin-top: 20px; background-color: #2b2b2b; color: #999999; font-family: 'Lucida Console', sans-serif; height: 500px; width: 800px; font-size: 11px;">
                    <div class="results"></div>
                    <div class="lds-dual-ring"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $( function() {
            $( "#date" ).datepicker({maxDate: '0'}).datepicker("setDate", new Date());
        } );

        var lastData;
        var counter = 0;
        var interval = 1000;  // 1000 = 1 second, 3000 = 3 seconds
        function doAjax() {
            $.ajax({
                type: 'GET',
                url: "{{ path('log_main') }}",
                data: $(this).serialize(),
                dataType: 'json',
                success: function (data) {
                    if (lastData === data) {
                        counter++;
                        if (counter > 4) {
                            $('.lds-dual-ring').hide();
                        }
                    } else {
                        $('.lds-dual-ring').show();
                        counter = 0;
                    }
                    $('.results').text("").append(data);// first set the value
                    lastData = data;
                },
                complete: function (data) {
                    // Schedule the next
                    setTimeout(doAjax, interval);
                }
            });
        }
        setTimeout(doAjax, interval);
    </script>
{% endblock %}

